<div class="mx-auto md:w-2/3 w-full">
  <div class="flex justify-between mb-6">
    <h1 class="font-bold text-4xl">
      <%= "Edit #{@list.title} List" %>
    </h1>
    <%= button_tag t(".share"), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer", data: { controller: "clipboard", clipboard_tooltip_content_value: t(".copy_tooltip_msg") } %>
  </div>

  <%= render "form", list: @list, form_id: "edit-list-form" %>
</div>
