default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>
  username: <%= ENV.fetch("POSTGRES_USER", "postgres") %>
  password: <%= ENV.fetch("POSTGRES_PASSWORD", "postgres") %>
  host: localhost

development:
  <<: *default
  database: listmate_development

test:
  <<: *default
  database: listmate_test

production:
  <<: *default
  database: listmate_production
  username: listmate
  password: <%= ENV["LISTMATE_DATABASE_PASSWORD"] %>
